<div class="profile-body">
  <div class="profile-contents">
    <% if @user.image_name.url %>
      <%= image_tag @user.image_name.url ,size: "150x150" %>
    <% else %>
      <%= image_tag "/user_images/default.jpg", :size => '150x150' %>
    <% end %>
    
    <p><%= @user.name %></p>
    <% if current_user?(@user) %>
      <div class="prof-btn-wrapper">
        <%= link_to("New Group",'/groups/new',class: "btn2") %>
        <%= link_to("invited group",'/groups/invited', class: "btn2") %>
      </div>
      <div class="my-groups">
        <h1 class="g-title">参加済のグループ</h1>
        <% @groups.each do |group| %> <!-- 表示されない('＃')  -->
          <div class="group-name">
            <% if current_user.id == group.admin_user_id %>
              <span>管理人</span>
            <% end %>
            <h1><%= link_to("#{group.name}", "/groups/#{group.id}") %></h1>
          </div>
        <% end %>
      </div>
      <%= paginate @groups %>
    <% end %>
  </div>
</div>