<!DOCTYPE html>
<html>
  <head>
    <title>TecBoard</title>
    <%= render 'layouts/first_config' %>
    <%= render 'layouts/shim' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if flash[:success] %>
      <div class="flash-s">
        <p><%= flash[:success] %></p>
      </div>
    <% end %>
    <% if flash.now[:danger] %>
      <div class="flash-d">
        <p><%= flash.now[:danger] %></p>
      </div>
    <% end %>
     
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %> <!-- バグ発見よう -->
  </body>
</html>
