<!DOCTYPE html>
<html>
  <head>
    <title>TecBoard</title>
    <%= render 'layouts/first_config' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
