<h1 class="title">投稿編集</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if @album.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@album.errors.count, "error") %>.
        </div>
        <ul>
          <% @album.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for(@album,url: "/albums/#{@group.id}/#{@album.id}") do |f| %>
      <%= f.label :title , "タイトル"%>
      <%= f.text_field :title %>
      <%= f.label :content , "内容" %>
      <%= f.text_area :content , class: "input-mysize" %>
      <%= f.submit "編集", class: "btn btn-primary" %>
    <% end %>
  </div>  
</div>